/* general */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700;800;900&family=Roboto+Slab:wght@400;500;700;900&family=Rubik:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: "Rubik";
}

body {
    background-color: #252934 !important;
}

.txt-000 {
    color: #000;
}

.txt-fff {
    color: #fff;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.color-1 {
    color: #17A2B8;
}

.hover-underline:hover {
    text-decoration: underline !important;
}

/* header */
#header {
    padding: 2% 0 0 0;
    background-color: #252934;
}

/* home */
#home {
    padding: 0 5%;
    height: 100vh;
}

.home-left,
.home-right {
    width: 50%;
}

.home-main-container {
    height: 100vh;
}

.home-mypic {
    max-height: 680px;
    width: auto;
}

.rocket {
    max-height: 90px;
    width: auto;
    animation: tilt-shaking .5s infinite;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 991px) {
    .home-mypic {
        display: none;
    }
}

/* about-me */
#about-me {
    padding: 5%;
}

.txt-type-effect {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* interests */
#interests {
    padding: 5%;
}

.interests-pic {
    max-height: 360px;
}

.interests-pic-txt {
    font-size: 25px;
}

/* hobbies */
#hobbies {
    padding: 5%;
}

.hobbies-icon {
    font-size: 45px;
}

.hobbies {
    width: 150px;
    height: 150px;
    background-color: #17A2B8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hobbies-cont {
    width: 33%;
}

/* footer */
#footer {
    padding: 7% 5% 1% 5%;
    background-color: #1b242f;
}

.social-container {
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.socials {
    background-color: #252934;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px;
}

.social-1:hover {
    background-color: #0966FF;
}

.social-2:hover {
    background-color: #D32E79;
}

.social-3:hover {
    background-color: #0C61BF;
}

.social-4:hover {
    background-color: #08a0e9;
}

.social-5:hover {
    background-color: #1F2328;
}

.social-icons {
    font-size: 25px;
}

.footer-link-txt:hover {
    color: #17A2B8;
}

.p-blog:hover {
    cursor: default;
    color: #fff;
}

.footer-links {
    width: 70%;
}