@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700;800;900&family=Roboto+Slab:wght@400;500;700;900&family=Rubik:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: "Rubik";
}

/* Dark Mode */
.body-container-dark {
    background-color: #252934 !important;
    color: #ffffff; /* Set text color for dark mode */
}
/* Light Mode */
.body-container-light {
    background-color: #ffffff !important;
    color: #000000; /* Set text color for light mode */
}

.mb-0 {
    margin: 0;
}

/*txt-color*/
.txt-fff {
    color: #fff;
}
.txt-2 {
    color: #1782b8;
}

.ul-top {
    list-style: none;
}

.ul-cont {
    width: 30%;
    padding: 2%;
}

.a-txt {
    text-decoration: none;
    color: #fff;
}

.a-txt:hover {
    color: #1782b8;
}

/* header */
#header {
    padding: 1.5%;
}

/* home */
.mypic {
    max-height: 600px;
    max-width: auto;
}

.home-left, .home-right {
    width: 50%;
}

.home-left {
    padding: 0 0 0 5%;
}

/* interests */
/* .cats-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.pets-container {
    width: 40%;
}

#pets-display {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
}

#pets-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


/* NOOOOTE: need alert (pics) */